<style>
    img{
       width:100%;
       width:100%;
       position:absolute;
       opacity:0.8;
        left:0;
        right:0;
        
        bottom:0;

    }
    .back{
         background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    }
</style>
<div class="back">


<img src="~/images/venda.jpg"></img>
</div>